@import "~antd/dist/antd.css";

$border-grey: #d9d9d9;
$base-transition: all 0.3s ease-in-out;

.ant {
  &-layout {
    min-height: 100vh;
  }
  &-result-404 {
    margin: auto;
  }
  &-btn-danger {
    background: red;
  }
  &-layout-content {
    padding: 20px 50px;
  }
}

@import "components/LoginPage";
@import "components/Header";
@import "components/Profile";
@import "components/TaskForm";
@import "components/TaskTodayWidget";
